<form novalidate>
	<input type="number" ng-model="$ctrl.exp">

	<button ng-click="$ctrl.num(0)">0</button>
	<button ng-click="$ctrl.num(1)">1</button>
	<button ng-click="$ctrl.num(2)">2</button>
	<button ng-click="$ctrl.num(3)">3</button>
	<button ng-click="$ctrl.num(4)">4</button>
	<button ng-click="$ctrl.num(5)">5</button>
	<button ng-click="$ctrl.num(6)">6</button>
	<button ng-click="$ctrl.num(7)">7</button>
	<button ng-click="$ctrl.num(8)">8</button>
	<button ng-click="$ctrl.num(9)">9</button>

	<button ng-click="$ctrl.act('+')">+</button>
	<button ng-click="$ctrl.act('-')">-</button>
	<button ng-click="$ctrl.act('*')">×</button>
	<button ng-click="$ctrl.act('/')">÷</button>
	<button ng-click="$ctrl.equal()">=</button>

	<button ng-click="$ctrl.clear()">AC</button>
</form>
