@import '../../common/common';

.calculator {
  border: 1px solid $dBackground;
  width: $cWidth;
  background: $cBackground;
  padding: $cPadding;
  border-radius: $cRadius;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: $boxShadow;
  
  input {
  	border-radius: $cRadius;
  	background: $dBackground;
  	color: $dColor;
  	width: 100%;
  	height: $dHeight;
  	font-size: $cFontSize;
  	text-align: right;
  	padding: $cPadding;
    box-sizing: border-box;
  }
}