<div class="calculator">
	<form novalidate>
		<input type="text" ng-disabled="true" value="{{ $ctrl.tempNumber | number }}"/>

		<numbers ng-repeat="number in $ctrl.numbers"
						 add-number="$ctrl.addNumber(number)"
						 number="number"></numbers>

		<operators ng-repeat="(key, value) in $ctrl.operators"
							 add-operator="$ctrl.addOperator(value)" 
							 operator="key"></operators>

		<button ng-click="$ctrl.addPoint()">.</button>

		<button ng-click="$ctrl.clearAll()">AC</button>
		<button ng-click="$ctrl.calculate()">=</button>
	</form>
</div>