@import '../../common/common';

.operators {
  height: $nHeight;
  width: $nWidth;
  font-size: $cFontSize;
  background: $nBackground;
  color: $dBackground;
  margin: $nPadding;
  border-radius: $cRadius;
  box-shadow: $boxShadow;
}
